<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Station Data</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Add additional CSS in static file -->
  {% load static %}
  
<link rel="stylesheet" href="{% static 'bootstrap-5.1.3-dist/css/bootstrap.min.css' %}">
  <!-- Begin Weathermap css and scripts -->
<link rel="stylesheet" href="{% static 'weathermap/leaflet/leaflet.css' %}">
<link rel="stylesheet" href="{% static 'weathermap/leaflet/leaflet-openweathermap.css' %}">
<link rel="stylesheet" href="{% static 'weathermap/files/map.css' %}">
<script src="{% static 'weathermap/leaflet/leaflet.js' %}"></script>
<script src="{% static 'weathermap/leaflet/Permalink.js' %}"></script>
<script src="{% static 'weathermap/leaflet/Permalink.Layer.js' %}"></script>
<script src="{% static 'weathermap/leaflet/Permalink.Overlay.js' %}"></script>
<script src="{% static 'weathermap/leaflet/leaflet-openweathermap.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'weathermap/leaflet/leaflet-languageselector.css' %}">
<script src="{% static 'weathermap/leaflet/leaflet-languageselector.js' %}"></script>
<script src="{% static 'weathermap/files/map_i18n.js' %}"></script>
<script src="{% static 'weathermap/files/map.js' %}"></script>
  <!-- End Weathermap css and scripts -->
  <!-- Video Player css -->
<link rel="stylesheet" type="text/css" href="{% static '7.18.1/video-js.css' %}"> 

<style>

body {
font-size:16px;
font-weight:bold;
color:#000;
background-color:#282828;
padding:25px;
}

button{
background-color:#646464;
color:#282828;
font-weight:bold;
</style>


</head>
<body>
  <div class="container-fluid">
  
    <div class="row">
      <div class="col-1">
      Live<br>
	  Optical
      </div>
      <div class="col-1">
      Events<br>
	  Radio
      </div>
      <div class="col-2">
			<ul>
				<li style="list-style-type:none;"><strong>Last Event Id:</strong> {{ num_books }}</li>
				<li style="list-style-type:none;"><strong>Date:</strong> {{ num_instances }}</li>

			</ul>
      </div>
      <div class="col-4">
      <img src="{% static 'sky360logo.jpg' %}" alt="Sky360 Logo"><br>
	  USA-12
      </div>	   
      <div class="col-4">
      VARIOUS ICONS
      </div>
    </div>
	
    <div class="row">
      {% block content %}{% endblock %}
    </div>
	
	
	<!-- get rid of code below? -->
	<div class = "row">
	  <div class="col-sm-12">
      {% block sidebar %}
        <ul class="sidebar-nav">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="">Example - All books</a></li>
          <li><a href="">Example - All authors</a></li>
        </ul>
      {% endblock %}
      </div>
	</div>
  </div>
</body>
</html>