{% extends "base_generic.html" %}

{% block content %}
  <h1>Sky360 Home - WORK IN PROGRESS</h1>
  <p>Welcome to Sky360, introduction paragraph <em>videos, data, etc</em>!</p>
  <h2>Dynamic content</h2>
  <p>Sky360 has the following record counts:</p>
  <ul>
    <li><strong>Example Placeholder - Books:</strong> {{ num_books }}</li>
    <li><strong>Example Placeholder - Copies:</strong> {{ num_instances }}</li>
    <li><strong>Example Placeholder - Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Example Placeholder - Authors:</strong> {{ num_authors }}</li>
  </ul>
{% endblock %}